{% extends "blogapp/base.html" %}

{% block content %}
    {% comment %} <div class = "container my-3" style="display:flex">
        <div class = "row gap-2 justify-content-center">
            <div class="card mb-3 col-3" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/20174732/pexels-photo-20174732/free-photo-of-the-building-has-a-hexagonal-pattern-on-it.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class = "row">
            <div class="card mb-3 col-3" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/20174732/pexels-photo-20174732/free-photo-of-the-building-has-a-hexagonal-pattern-on-it.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class = "row">
            <div class="card mb-3 col-3" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/20174732/pexels-photo-20174732/free-photo-of-the-building-has-a-hexagonal-pattern-on-it.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class = "row">
            <div class="card mb-3 col-3" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/20174732/pexels-photo-20174732/free-photo-of-the-building-has-a-hexagonal-pattern-on-it.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div> {% endcomment %}
{% endblock %}
